$include /etc/inputrc

# Ignore case on tab complete
set completion-ignore-case on

# Hyphens and underscores are treated the same
set completion-map-case on

# Add trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

set match-hidden-files on

set show-all-if-unmodified on

# Display matches for ambiguous during first tab press
set show-all-if-ambiguous on

# Ask to complete the list if > 200 results
set completion-query-items 200

# Show all results at once
set page-completions on

# Bash v4 enhanced autocomplete - it applies when completing in the middle of a word
# and helps with avoiding duplication.
set skip-completed-text on

# up arrow completion based on current input
#"\e[A": history-search-backward
#"\e[B": history-search-forward

# modify a command in place
# e.g. wraps the previous command in $() and moves to BOL to edit
# https://brettterpstra.com/2015/07/09/shell-tricks-inputrc-binding-fun/
"\e\C-m": '\C-a "$(\C-e)"\C-a'

