@import url("/usr/share/gnome-shell/theme/Flat-Remix-Dark-fullPanel");

stage {
  font-family: "Cantarell", Sans-Serif;
  font-size: 10pt;
  color: #FFF; }

#panel {
  font-feature-settings: "tnum";
  border-radius: 0;
  font-weight: normal;
  font-size: .9em;
  height: 2.15em; /* 2em */
  color: #FFF;
/*  background: rgba(0, 0, 0, 0.8);*/
  background: transparent;
  background-gradient-direction: none; }

#panel .panel-button {
  -natural-hpadding: 12px;
  -minimum-hpadding: 6px;
  font-weight: normal; }

#panel .panel-button .system-status-icon,
#panel .panel-button .app-menu-icon > StIcon {
  icon-shadow: none; }

#panel .panel-button:active,
#panel .panel-button:overview,
#panel .panel-button:focus,
#panel .panel-button:checked {
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 -0.2em 0 #FFF;
  text-shadow: none; }

#panel .panel-button:active > .system-status-icon,
#panel .panel-button:overview > .system-status-icon,
#panel .panel-button:focus > .system-status-icon,
#panel .panel-button:checked > .system-status-icon {
  icon-shadow: none; }

#panel .panel-button .system-status-icon {
  icon-size: 1.09em;
  padding: 0 5px; }

#panel .panel-status-indicators-box,
#panel .panel-status-menu-box {
  spacing: 2px; }

#panel .power-status.panel-status-indicators-box {
  spacing: 0; }

#panel #panelActivities.panel-button StLabel {
  border: 0;
  background-image: url("assets/view-grid-symbolic.svg");
  background-size: 1.1em;
  margin: 0 .3em;
  width: 1em;
  color: transparent; }

.search-entry {
  width: 21em;
  border: none;
  color: white;
  caret-color: transparent; /* black */
  text-shadow: none;
  background-color: rgba(45, 45, 45, 0.2); /* white */
  font-weight: normal; /* bold */
  transition-duration: none; /* 200ms */
  font-size: 1.05em; /* 1.1em */}

.search-entry:focus, .search-entry:hover {
  font-weight: normal; /* normal */
  background-color: rgba(45, 45, 45, 0.2); /* white */
  color: white !important; /* black */
  box-shadow: none;
  text-shadow: none; }

.search-entry:focus .search-entry-icon, 
.search-entry:hover .search-entry-icon {
  color: white;
  icon-size: 1em;
  icon-shadow: none; }

.search-entry .search-entry-icon {
  padding: 0 .36em;
  color: white;
  transition-duration: none; /* 200ms */
  icon-shadow: none; }

#searchResultsContent {
  font-weight: normal; }


